html {
	height: 100%
}
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    height: 100%
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
#HOME {	
   background-color: #000000; /* Black */
   /*background-image: url("../Images/Duke_Full.jpg"); /*For now we need to understand how to make everything scaleable*/
   background-size: 100%;
   background-repeat: no-repeat;
   color: #ffffff;
}
#ABOUT { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
#PROJECTS { 
    background-color: #ffffff; /* White */
    color: #555555;
}
#EXPERIENCE {
    background-color: #ffffff; /* White */
    color: #555555;
}
#CONTACT { 
    background-color: #939296; /* Black Gray */
    color: #fff; 
}
#FOOTER { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff; 
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} 
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    /*background: rgba(0,0,0,0.4);*/
}
.navbar-nav  li a:hover {
      color: #1abc9c !important;
 }
.full-page {
	height: 100%
}
