html {
	height: 100%
}
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    height: 100%
}

p {
	font-size: 16px;
}

.margin {
	margin-bottom: 45px;
}

.container-fluid {
   	padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    /*background: rgba(0,0,0,0.4);*/
}

.navbar-nav li a:hover {
	color: #1abc9c !important;
}

.full-page {
	height: 100%
}

.myTitle{
	font-size: 12px;
	letter-spacing: 1px;
	color:#f5f6f7;	
}

#HOME {	
	background-color: #000000; /* Black */
	/*background-image: url("../Images/Duke_Full.jpg"); /*For now we need to understand how to make everything scaleable*/
	background-size: 100%;
	background-repeat: no-repeat;
	color: #ffffff;
}
#ABOUT { 
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
}
#ABOUT .content p{
	line-height: 150%;
	margin-bottom: 25px;
	
}
#PROJECTS { 
    background-color: #ffffff; /* White */
    color: #555555;
    margin-left: 20px; 
    margin-right: 20px
}
#PROJECTS img:hover {
	opacity: 0.4;
}
#EXPERIENCE {
    background-color: #ffffff; /* White */
    color: #555555;
    margin-left: 20px; 
    margin-right: 20px
}
#CONTACT { 
    background-color: #939296; /* Black Gray */
    color: #fff; 
}
#FOOTER { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff; 
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}
#modal-underConstruction{
	color:#555555;
}