---
---

html {
	height: 100%;
    width:100%;
}
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    height: 100%;
}

p {
	font-size: 16px;
}
h4 {
	text-align: center;
}
.margin {
	margin-bottom: 45px;
}
.margin-L-R{
	margin-left: 20px;
	margin-right: 20px;
}

.container-fluid {
   	padding-top: 50px;
    padding-bottom: 30px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
    opactiy: 1;
}

.navbar-nav li a:hover {
	color: #1abc9c !important;
}

.full-page {
	height: 100%
}

.myTitle{
	font-size: 12px;
	letter-spacing: 1px;
	color:#f5f6f7;
}
.arsenal-sc-regular-title {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

#HOME {
	/* Location of the image */
	/*background-image: url("../Images/Duke_Full.jpg");*/
	background-image: url("../Images/cover.jpg");
	/* Background image is centered vertically and horizontally at all times */
  	background-position: center center;
	/* Background image doesn't tile */
  	background-repeat: no-repeat;
  	/* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  	background-attachment: fixed;
	/* This is what makes the background image rescale based on the container's size */
  	background-size: cover;
  	/* Set a background color that will be displayed while the background image is loading */
  	background-color: #000000; /* Black */

	color: #ffffff; /* Text Color: White */
}

#HOME .header {
	position: relative;
  	top: 20%;
}
#ABOUT {
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;

}
#ABOUT .content p{
	line-height: 150%;
	margin-bottom: 25px;
}
#ABOUT .page-header{
	margin-left: 20px;
    font-weight: bold;
    margin-right: 20px
}
#ABOUT .contactInfo {
	color: #555555;
	margin-top: 20px;
	font-size: 14pt;

}
#ABOUT .subText {
	font-size: 13pt;

}

#EXPERIENCE {
    background-color: #ffffff; /* White */
    color: #555555;
    margin-left: 20px;
    margin-right: 20px
}
#EXPERIENCE img{
	opacity: 1;
}
#EXPERIENCE img:hover {
	opacity: .3;
}


#PROJECTS {
    background-color: #ffffff; /* White */
    color: #555555;
    margin-left: 20px;
    font-weight: bold;
    margin-right: 20px
}
#PROJECTS img{
	opacity: 1;
}
#PROJECTS img:hover {
	opacity: .3;
}
#PUBLICATIONS {
	background-color: #ffffff; /* White */
    color: #555555;
    margin-left: 20px;
    font-weight: bold;
    margin-right: 20px

}
#PUBLICATIONS p{
	font-size: 18px;
}

#PUBLICATIONS .submittedTo p{
	font-size: 16px;
}


#FOOTER {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
    font-size: 14px;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}
#modal-underConstruction{
	color:#555555;
}
